<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Разработка частотной гистограммы текста</title>
</head>
<body>
<form action="{% url 'histogram_app_result' %}" method="post">
    {% csrf_token %}

    <div class="fieldWrapper">
    {{ form.field.errors }}
    <label for="{{ form.field.id_for_label }}">Введите текст для исследования:</label>
    <p>{{ form.text_for_make_histogram }}</p>
    </div>
    <input type="submit" value="Построить гистограмму" />
</form>
</body>
</html>