<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Разработка частотной гистограммы текста, этап 1</title>
</head>
<body>
<form action="{% url 'histogram_app_result' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}
            <p>{{ field }}</p>
        </div>
    {% endfor %}
    <input type="submit" value="Построить гистограмму" />
</form>
<br />
<h3>посмотри <a href="https://youtu.be/HIyZB2a3nx8">скринкаст</a> и прикрути бутстрап :)</h3>

</body>
</html>